{% extends "gopher/base.html" %}

{% block content %}
    <h2>Terminal Command List</h2>
<pre style="background-color: var(--highlight-color); padding: 15px; border: 1px dashed var(--dim-color);">
COMMAND         DESCRIPTION
------------------------------------------------------------
help            Display this manual
login [user]    Initiate Keychain handshake for [user]
logout          Clear current session
home / h        Return to Main Menu
trending        Browse Trending feed
hot             Browse Hot feed
feed            Browse your personalized Following feed
search          Navigate to Search interface
witness         View Witness Leaderboard
market          View HIVE/HBD Ticker
wallet [user]   View Wallet Ledger for [user] or yourself
blocks          View Block Explorer
vote [weight]   Cast vote on current post (1-100)
                *Only available inside Post Detail view
</pre>

    <div style="margin-top: 30px;">
        [ <a href="/">BACK TO MENU</a> ]
    </div>
{% endblock %}
